body{
    background-color: white;
    height: 200vh;
}
body, #section1{
    width: auto;
}
#section1, .nav, .t-x, .ios, .index, #barre, #partie3, #partie4, #last-partie{
    display: flex;
} 
#section1{
    margin-top: 0.5vh;
}
.logo, .logo-f{
    height: 9vw;
}
.logo{
    margin-left: 5vh;
}
.nav, .ios{
    list-style-type: none;
}
.nav{
    flex-grow: 1;
    justify-content: flex-end;
}
.nav li{
    margin: 3vw;
}
.nav li:hover{
    color: red;
}
#grand-image{
    height: 42vw;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(1,0,0,0.5) ,rgba(0,0,0,0.5) 100%), url(img/Rectangle\ 48BG\ Slide\ \(1\).png);
}

#grand-image,.index2,.index3,.index4{
    background-size: contain;
}
#grand-image,.text{
    display: block;
}
.food-app{
    margin-top: -1vh;
    padding-top: 1vh;
}
.food-app, .text, .ios{
    color: white;
}
.food-app, .text,.os1,.os2, h1{
    text-align: center;
}
.food-app, .t-x,.text1,.text4,.text3{
    font-size: 2vw;
    font-weight: 600;
}
.text{
    font-size: 4vw;
    font-weight: bold;
}
.text,.ios,.index,#barre,.id-social{
    align-items: center;
} 
.text,.ios,.index,#barre,#partie4{
    justify-content: center;
}
.t-x{
    margin-left: 30%;
}
.os1,.os2{
    border: 1vh solid red;
    background-color: red;
    height: 2.5vw;
    width: 17vh;
    border-radius: 30px;
}
.os2{
    margin-left: 5vw;
}
.index{
    margin-top: -5vw;
}
.index2{
    width: 40%;
}
#barre{
    border: 1px solid whitesmoke;
    background: whitesmoke;
    width: 70%;
    margin-left: 15%;
}
h1{
    font-size: 3vw;
}
.index3{
    width: 40%;
    margin-left: 10vh;
}
#partie3{
    flex-direction: column;
    position: relative;
    top: -41vw;
    text-align: justify;
    margin-left: 50vw;
    line-height: 4vh;
}
.text1,.text4{
    color: red;
}
.text2{
    color: rgb(28, 27, 36);
    font-size: 2.5vw;
    font-weight: 900;
}
.text3{
    font-weight: 100;
}
#partie4{
    flex-direction: row;
}
.text-p4{
    position: absolute;
    margin-left: -100%;
    margin-top: 40%;
}
.index4{
    margin-left: 2vh;
    width: 130%;
}
#last-partie{
    align-items: flex-start;
    justify-content: flex-start;
}
.logo-f{
    margin-left: -80%;
}
.id-social{
    margin-top: 4vw;
}
.cpr,.id-social{
    margin-left: 40%;
    margin-top: 5vw;
}