:root{
    --border-box: 1px solid;
    --display: flex;
    --color: black
    --widht: auto;
    --content: center;
    --align: center;
}
body, .fst-bar{
    width: var(--width);
    font-family: Roboto;
}
body{
    margin: 0;
}
.header, .login-bar, .fst-bar, .bouton-1, .first-bloc, .fst-btn-pg-2, .sec-btn-pg-2{
    display: var(--display);
}
.fab, a, i, .fa-circle{
    color: var(--color);
}
.menu, .first-bloc, .bouton-1, .fst-btn-pg-2, .sec-btn-pg-2{
    justify-content: var(--content);
}
header{
    flex-direction: column;
}
.fst-bar{
    background: #ffc104;
    height: 4vh;
    justify-content: space-around;
}
.login-bar{
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
.fab{
    margin: 1vh;
}
a, i, ul{
    list-style-type: none;
    text-decoration: none;
}
.fa-circle{
    font-size: 10px;
    margin: 10px;
}
.sec-bar, .menu{
    display: var(--display);
}
.sec-bar{
    border: var(--border-box);
    color: white;
    height: 13vh;
    background-color: #333;
}
.logo{
    margin-top: 1vh;
    height: 80%;
    margin-left: 13%;
}
.menu{
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    letter-spacing: 3px;
}
.menu li{
    margin: 8px;
}
.titre, .sous-text{
    text-align: var(--align);
    color: #666666;
    font-weight: 900;
}
.titre{
    font-size:30px;
    line-height: 30vh;
}
.sous-text{
    font-size:16px;
    margin-top: -13vh;
}
.image-1, .image-2, .image-3, .image-4{
    border: var(--border-box) transparent;
    width: 30rem;
    height: 45vh;
    margin: 1.5vh;
    background: url(images\ ASD/jcf-jivoni-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-1{
    border: var(--border-box) transparent;
    width: 30rem;
    height: 50vh;
    margin: 1.5vh;
}
.text-1-1, .text-1-2{
    line-height: 28.8px;
    color: #111111;
}
.text-1-1{
    font-size: 30px;
}
.text-1-2{
    font-size: 16px;
    text-align: center;
}
.bouton-1{
    box-shadow: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20%;
    background-color: #c60000;
    height: 6vh;
    width: 40vh;
    align-items: center;
    color: white;
}

/* page 2 */
.content-pg-2{
    display: flex;
    justify-content: var(--content);
    flex-direction: column;
}
.title-pg-2, .ss-title-pg-2{
    font-size: 30px;
    font-weight: 1900;
    text-align: center;
    line-height: 25vh;
    color: #666666;

}
.ss-title-pg-2{
    margin-top: -25vh;
}.para{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #666666;
}
.link-here{
    color: #666666;
    text-align: center;
}
.we-are{
     color: red;
     text-align: center;
}
.time{
    color: #666666;
    text-align: center;
}
.opening{
    color: #666666;
    font-style: italic;
    text-align: center;
}
.image-pg-2{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4vh;
}
.fst-btn-pg-2, .sec-btn-pg-2{
    box-shadow: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #c60000;
    height: 6vh;
    width: 40vh;
    align-items: center;
    color: white;
}
#download{
    display: flex;
    justify-content: center;
}
.ready{
    text-align: center;
    font-size: 30px;
    color: #666666;
}
.register{
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.sec-btn-pg-2{
    width: 20vh;
}