body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
img{
    width: 20%;
    height: 25%;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent, white);
}