:root{
    --border-box: solid 2px;
    --margin-border: 0.5rem;
}
body{
    display: flex;
    justify-content: center;
}
main{
    border: black var(--border-box);
    height: 150vh;
    width: 95%;
    border-color: black;
}
header{
    border: red var(--border-box);
    height: 23%;    
    margin: var(--margin-border);
}
main header nav:first-child{
    display: flex;
    justify-content: space-between;
}
main header nav nav:nth-child(1){
    border: 1px solid red;
    height: 13vh;
    width: 15vh;
    margin: 0.5rem;
}
main header nav nav:nth-child(2){
    display: flex;
    border: 1px solid red;
    height: 13vh;
    width: 30vh;
    margin: 0.5rem;
}
main header nav nav:nth-child(2) nav:nth-child(1){
    border: 1px solid red;
    height: 10vh;
    width: 10vh;
    margin: 0.5rem;
}
main header nav nav:nth-child(2) nav:nth-child(2){
    border: 1px solid red;
    height: 10vh;
    width: 10vh;
    margin: 0.5rem;
}
main header nav nav:nth-child(2) nav:nth-child(3){
    border: 1px solid red;
    height: 10vh;
    width: 10vh;
    margin: 0.5rem;
}
main header nav:last-child{
    border: 1px solid red;
    width: 98% auto;
    margin: 0.5rem;
    height: 15vh;
}



section{
    border: green var(--border-box);
    height: 60%;    
    margin: 0.5rem;
}
main section div:nth-child(1){
    display: flex;
    border: 2px solid rgb(91, 91, 22);
    height: 20vh;
    margin: auto;
    margin: 0.5rem;
}
main section div:nth-child(1) div:nth-child(1){
    width: 20%;
    height: 17vh;
}
main section div:nth-child(1) div:nth-child(2){
    width: 80%;
    height: 17vh;
}
main section div:nth-child(2){
    border: 2px solid rgb(91, 91, 22);
    height: 44vh;
    margin: auto;
    margin: 0.5rem;
}
main section div:nth-child(3){
    border: 2px solid rgb(91, 91, 22);
    height: 20vh;
    margin: auto;
    margin: 0.5rem;
}
main section div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
}
main section div:nth-child(2) div section:nth-child(1){
    margin: 0.5rem;
    height: 5%;
    width: 10vh;
}




footer{
    border: blue var(--border-box);
    height: 13%;    
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}
main footer div:nth-child(1){
    border: 1px solid blue;
    height: 12vh;
    width: 15%;
    margin: auto;
    margin-right: 40%;
}
main footer div:nth-child(2){
    border: 1px solid blue;
    height: 12vh;
    width: 40%;
    margin: auto;
    display: flex;
}
main footer div div:nth-child(1){
    border: 1px solid blue;
    margin: auto;
    height: 8vh;
    width: 15vh;
}
main footer div div:nth-child(2){
    border: 1px solid blue;
    margin: auto;
    height: 8vh;
    width: 15vh;
}
main footer div div:nth-child(3){
    border: 1px solid blue;
    margin: auto;
    height: 8vh;
    width: 15vh;
}
