@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
:root{
    --border-box: 1px solid;
    --display: flex;
    --color: black;
    --widht: auto;
    --content: center;
    --align: center;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
.fst-bar{
    width: var(--width);
    font-family: Roboto;
}
.header, .login-bar, .fst-bar{
    display: var(--display);
}
a{
    color: var(--color);
}
header{
    flex-direction: column;
}
.fst-bar{
    background: #ffc104;
    height: 4vh;
    justify-content: space-around;
}
.login-bar{
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
a, ul{
    list-style-type: none;
    text-decoration: none;
}
.fa-circle{
    font-size: 8px;
    margin: 10px;
}
.menu-bar{
    background: #0a0a0adf;
    text-align: center;
    z-index: 1;
}
.menu-bar ul{
    display: inline-flex;
}
.menu-bar ul li a{
    color: rgba(255, 255, 255, 0.796);
    font-size: 14px;
}
.menu-bar ul li{
    width: auto;
    margin: 13px;
    padding: 12px;
}
.nav-menu-1{
    display: none;
}
.nav-menu-1 ul li{
    margin-left: -10px;
}
.menu-bar ul li:hover .nav-menu-1{
    display: block;
    position: absolute;
    margin-top:15px;
    background-color: #0a0a0ad1;
    z-index: 1;
}
.menu-bar ul li:hover .nav-menu-1 ul{
    display: block;
    text-align: left;
}
.fa-caret-down{
    color: rgba(255, 255, 255, 0.796);
    margin: 3px;
    height: 1px;
    width: 1px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}
.titre{
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: Roboto;
}
.ss-title{
    color: white;
    margin-top: -12px;
    letter-spacing: 3px;
    font-family: Roboto;
}
.titre, .sous-text{
    text-align: var(--align);
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: normal;
}
.titre{
    font-size:25px;
    font-weight: 800;
}
.sous-text{
    font-size:15px;
    font-weight: 600;

}
#title{
    margin-top: 10vh;
}
.first-bloc{
    display: var(--display);
    justify-content: var(--content);
}
.image-1, .image-2, .image-3, .image-4{
    border: var(--border-box) transparent;
    width: 30rem;
    height: 45vh;
    margin: 1.5vh;
    background: url(images/jcf-jivoni-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image-2{
    background: url(images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image-3{
    background: url(images/online-streaming-classes-asd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image-4{
    background: url(images/events-seminars-asd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-1{
    border: var(--border-box) transparent;
    width: 30rem;
    height: 50vh;
    margin: 1.5vh;
}
.text-1-1, .text-1-2{
    line-height: 28.8px;
    color: #111111;
}
.text-1-1{
    font-size: 30px;
}
.text-1-2{
    font-size: 16px;
    text-align: center;
}
.bouton-1{
    display: var(--display);
    justify-content: var(--content);
    box-shadow: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #b50000;
    height: 6vh;
    width: 20rem;
    margin-left: 5rem;
    align-items: center;
}
.btn{
    color: white;
}
.btn-2{
    text-align: center;
    width: 43vh;
}

/* page instructors//////////////////////////// */

.title-inst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #b82b35;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-top: 13vh;
}
h2{
    font-weight: 500;
    font-size: 24px;
}
h5{
    color: #666666;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
}
.boite{
    width: 30vh;
    border: 3px solid #b82b35 ;
    height: 1vh;
}
.person{
    display: flex;
    justify-content: center;
    margin: 10rem;
    margin-top: -1vh;
}
.p-1, .p-2, .p-3, .p-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    height: 65vh;
    margin: 2vh;
    color: #666666;
    text-align: center;
    line-height: 20px;
}
.img-person{
    border-radius: 20vh;
    height: 15rem;
    width: auto;
    margin: 1vh;
}
.fa-envelope{
    margin: 3px;
}
.link-person{
    font-size: 12px;
    font-weight: 300;
    margin-top: -17px;
}
.ps-1{
    margin-top: -10rem;
}
article{
    font-size: 18px;
    color: #666666;
    margin-left: 30vh;
    margin-right: 30vh;
    line-height: 31.68px;
}
.article-2, .article-3{
    margin-top: 1rem;
}

/* krav belt page//////////////////////////// */
.large-fd{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background-image: linear-gradient( rgba(0,0,0,0.6) ,rgba(0,0,0,0.7) ), url(images/cropped-DSC01352-12.jpg);
    margin-top: -14vh;

}
.title-km{
    color: white;
    font-size: 30px;
    letter-spacing: 4px;

}
.reading{
    padding-top: 5%;
    text-align: justify;
    margin-left: 16%;
    margin-right: 16%;
}
.titre-km{
    text-align: left;
    margin-left: 16%;
    font-weight: 600;
}

.galerie{
    border: 1px solid transparent;
    width: 70%;
    margin-left: 15%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
.gl-1, .gl-2{
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    width: 48%;
    margin: 2vh;
}
.gl-title{
    color: #111111;
    font-size: 24px;
    margin-top: 1vh;
}
.gl-st{
    margin-top: -0.5vh;
    color: #666;
    font-size: 16px;
}
.text-btn{
    border: 1px solid transparent;
    width: 70%;
    margin-left: 15%;
    height: 20vh;
    display: flex;
    justify-content: center;
}
.txt-btn, .btn-txt{
    border: 1px solid transparent; ;
    width: 75%;
    margin: 1vh;
}
.btn-txt{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    width: 20rem;
    background-color: #fafafa;
    height: 6vh;
}
.last-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-left: 16%;
    margin-right: 16%;
    background-image: linear-gradient( rgba(0,0,0,0.6) ,rgba(0,0,0,0.7) ), url(images/slide5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.lst-img-title{
    color: white;
    font-size: 30px;
}
.lst-img-st{
    color: #fff;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}
.btn-km{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid #666;
    width: 20rem;
    background-color: red;
    height: 8vh;
    border-radius: 4px;
}
.btn-km a{
    color: white;
    font-size: 17px;
    font-weight: 700;
}
/* online page//////////////////////////// */
.online-title{
    margin-left: 16%;
    margin-right: 16%;
    text-align: center;
    font-size: 36px;
    color: #666;
    font-weight: 600;
}
.online-title-ss{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    line-height: 4vh;
}
.parts{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 45vh;
    margin-left: 13%;
    margin-right: 13%;
}
.prt-1, .prt-2, .prt-3{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 4vh;
    height: 405h;
}
.prt-ss{
    font-size: 14.44;
    color: #666;
}
.pricing{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    width: 75%;
    height: 100vh;
    margin-left: 13%;
    margin-right: 13%;
}
.pricing-1{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 2vh;
}
.lvl-1{
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.lvl-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2e2c2c;
    color: red;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.prix{
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}
.lvl-3{
    text-align: center;
    background-color: #f5f5f5;
    font-size: 15px;
    line-height: 1vh;
}
.smoke{
    margin-left: 10%;
    border: 1px solid rgba(128, 128, 128, 0.258);
    width: 80%;
}
.sign-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: red;
    color: white;
}
.link-btn{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.ft-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-affiche{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 12.5%;
    height: 15vh;
    background-color: #f7f9fb;
    background-size: cover;

}
.affiche{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
/* pied de page//////////////////////////// */
footer{
    display: flex;
    justify-content: center;
    border: var(--border-box) black;
    flex-direction: row;
    width: auto;
    background-color: black;
    height: 75vh;
    margin-top: 8vh;
}
.foot-1, .foot-2, .foot-3, .foot-4{
    width: 35vh;
    margin: 1vh;
    color: #cacaca;
    display: flex;
    flex-direction: column;
    line-height: 30PX;

}
.p-all{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 4rem;
}
.dot{
    border:  0.1px  #fff;
    border-style: dotted;
    width: 14rem;
}
#lk-1, #num{
    color: white;
}
#num{
    line-height: 5px;
    margin-top: 3vh;
}
.asd{
    margin-top: 6vh;
    color: #cacaca;
}
#col{
    color: #cacaca;
}
.col-2{
    color: white;
    margin-right: 5vh;
    margin-top: -5px;
}
.mail{
    color: white;
    font-weight: 600;
    margin-top: -5px;
    margin-left: -1rem;
}
#mail, #submit{
    color: #000;
    width: 14rem;
    height: 7vh;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 800;
    margin-top: 1rem;
}
.fa-brands{
    font-size: 2rem;
    margin: 0.5vh;
}
