p{
    background: url(photo_2022-06-02_12-18-20.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}
body{
    background: black;
}
h1{
    font-size: 100px;
    text-align: center;
    background: linear-gradient( 43deg, #4158D0 0%,#C850C0 46%, #ffcc70 100% );
    -webkit-background-clip: text;
    color: transparent;
}