body{
    background-color: gainsboro;
}
#section1, .nav, .t-x, .ios, .index, #barre, #partie3, #partie4, #last-partie{
    display: flex;
} 
.logo, .logo-f{
    height: 9vw;
}
.logo{
    margin-left: 5vh;
}
.nav, .ios{
    list-style-type: none;
}
.nav{
    justify-content: flex-end;
    flex-grow: 1;
}
.nav li{
    margin: 3vw;
    font-size: 1.5vw;
}

.home{
    color: red;
}
#grand-image{
    height: 42vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(0,0,0,0.5) ,rgba(0,0,0,0.5) ), url(img/Rectangle\ 48BG\ Slide\ \(1\).png);
}

#grand-image,.index2,.index3,.index4{
    background-size: contain;
}
.index4{
    display: flex;
    width: 100%;
}
#grand-image,.text{
    display: block;
}
.food-app{
    margin-top: -1vh;
    padding-top: 1vh;
}
.food-app, .text, .ios{
    color: white;
}
.food-app, .text,.os1,.os2, h1{
    text-align: center;
}
.food-app, .t-x,.text1,.text4,.text3{
    font-size: 2vw;
    font-weight: 600;
}
.text{
    font-size: 4vw;
    font-weight: bold;
}
.text,.ios,.index,#barre,.id-social{
    align-items: center;
} 
.text,.ios,.index,#barre,#partie4{
    justify-content: center;
}
body, #section1{
    width: 100%;
}
.t-x{
    margin-left: 33%;
    font-weight: 100;
    font-family: 'Exo', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.os1{
    border: 1vh solid red;
    background-color: red;
    height: 3vw;
    width: 17vh;
    border-radius: 30px;
    align-items: center;
    padding-top: 2px;
}
.os2{
    margin-left: 5vw;
    border: 1px solid white;
    height: 3.5vw;
    width: 19vh;
    margin-top: 2px;
    border-radius: 30px;
    padding-top: 1vh;
}
.index{
    margin-top: -5vw;
}
.index2{
    width: 40%;
}
#barre{
    border: 1px solid ;
    background: whitesmoke;
    width: 70%;
    margin-left: 15%;
}
h1{
    font-size: 3vw;
}
.index3{
    width: 40%;
    margin-left: 10vh;
}
#partie3{
    flex-direction: column;
    position: relative;
    top: -45vw;
    margin-left: 50vw;
}
.text-p4{
    margin-right: 25 vw;
}
.text1,.text4{
    color: red;
}
.text2{
    color: rgb(28, 27, 36);
    font-size: 2.5vw;
    font-weight: 900;
}
.text3{
    font-weight: 100;
    font-family: 'Exo', sans-serif;
    font-family: 'IBM Plex Serif', serif;
}
.text11, .text22, .text33{
    margin-left: -20vw;
}
.text1, .text2, .text3{
    line-height: 4vw;
}
.text22{
    display: flex;
    line-height: 3vw;
}
#partie4{
    flex-direction: row;
}
.text-p4{
    position: absolute;
    margin-left: -100%;
    margin-top: 40%;
}
.index4{
    margin-left: 2vh;
    width: 130%;
}
.logo-f{
    margin-left: -85%;
}
.cpr,.id-social{
    margin-left: 40%;
    margin-top: 5vw;
}

.index2{
    animation: animation 4s ease;
}

@keyframes animation{
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% { 
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px){
    .text-p4{
        display: flex;
        flex-direction: column;
    }
    .text11, .text22, .text33{
        margin-left: -30vw;
    }
    #last-partie{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .id-social{
        margin-left: -90%;
    }
    .cpr{
        align-items: center;
        flex-direction: column;
        margin-left: -90%;
    }
}